@import "../../globalColor";

.whoamisection {
    width: 100%;
    height: 100vh;
    display: flex;
    color: $textColorLight;
    flex-direction: column;
    padding: 20px;
    background-color: $myGray;
}

.whoamisection-heading-container {
    font-size: $headingFontSize;
    display: flex;
    position: relative;
    left: 35%;
    line-height: 1px;
}

.whoamisection-desc-container {
    font-size: $smallFontSize;
    text-align: left;
    display: flex;
    align-items: center;
    position: relative;
}

.whoamisection-desc-image-container {
    position: relative;
    left: 10%;
}

.whoamisection-desc-image {
    height: 30vh;
    border-radius: 50%;
}

.whoamisection-desc-detail {
    max-width: 60%;
    position: relative;
    left: 15%;
}

.whoamisection-downloadResume-container {
    position: relative;
    top: 20%;
    padding: 20px;
}

.downloadResume-button {
    width: 200px;
    height: 50px;
    background-color: $myBlue;
    font-size: $xsmallFontSize;
    font-weight: bold;
    color: $textColorLight;
}

@media (max-width: 767px) {
    .whoamisection-heading-container {
        font-size: $normalFontSize;
        display: flex;
        position: relative;
        left: 23%;
    }

    .whoamisection-desc-container {
        font-size: $smallFontSize;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .whoamisection-desc-image-container {
        position: relative;
        left: 5%;
    }

    .whoamisection-desc-image {
        height: 15vh;
        border-radius: 50%;
    }

    .whoamisection-desc-detail {
        max-width: 90%;
        position: relative;
        left: 2%;
        padding:5px;
    }

    .whoamisection-downloadResume-container {
        position: relative;
        top: -80%;
        left: 20%;
        padding: 20px;
    }
}
