@import "../../globalColor";

.whoamisection {
    width: 100%;
    height: autto;
    display: flex;
    color: $textColor;
    flex-direction: column;
    padding: 20px;
}

.whoamisection-heading-container {
    font-size: $headingFontSize;
    display: flex;
    position: relative;
    left: 40%;
    line-height: 1px;
}

.whoamisection-desc-container {
    font-size: $smallFontSize;
    text-align: left;
    display: flex;
    align-items: flex-start;
}

.whoamisection-desc-image-container {
    position: relative;
    left: 10%;
}

.whoamisection-desc-image {
    height: 20vh;
    border-radius: 50%;
}

.whoamisection-desc-detail {
    max-width: 100%;
    position: relative;
    left: 20%;
}

.downloadResume-button {
    width:200px;
    height: 50px;
    background-color: $mylightBlue;
    font-size: $xsmallFontSize;
    font-weight: bold;
    color: $textColor;
}

@media (max-width: 767px) {
    .whoamisection-heading-container {
        font-size: $normalFontSize;
        display: flex;
        position: relative;
        left: 23%;
    }

    .whoamisection-desc-container {
        font-size: $smallFontSize;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .whoamisection-desc-image-container {
        position: relative;
        left: 27%;
    }

    .whoamisection-desc-image {
        height: 15vh;
        border-radius: 50%;
    }

    .whoamisection-desc-detail {
        max-width: 90%;
        position: relative;
        left: 2%;
        padding:5px;
    }
}
