@import "../../common/globalColor.scss";

.cardcontainer {
    background-color: $myBlueDark;
    width: 15%;
    height: 70%;
    border-radius: 40px;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.imagecontainer {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.imagecontainer img {
    width: 30%;
    padding: 5px;
}

.cardheading {
    width: 90%;
    align-self: center;
}

.cardheading p {
    font-size: $smallFontSize;
    font-weight: bold;
}

.carddesc {
    width: 90%;
    align-self: center;
}

.carddesc p {
    font-size: $xsmallFontSize;
    font-weight: bold;
}

.link a {
    font-size: $smallFontSize;
    font-weight: bold;
    color: $textColorLight;
    align-self: center;
}
@media only screen and (max-width: 768px) {
    .cardcontainer {
        width: 70%;
        margin: 10px;
    }
    .imagecontainer {
        margin: 10px;
    }
    .cardheading {
        margin: 10px;
    }
}