.Menu-expand {
  border-radius: 25px;
  padding: 10px;
  width: 200px;
  height: 500px;
  position: absolute;
  left: 40%;
  top: 70%;
}

.Menu-expand-styling {
  border-color: #025e9b;
  background-color: #a1d3f0;
  text-align: center;
  color: rgb(2, 44, 71);
  font-style: italic bold;
  font-size: 20px;
}

.Menu-link {
  color: #022c38;
}

.Menu-list {
  list-style-type: square;
  text-align: left;
  // list-style-position: outside;
  // padding: 10;
  // align-items: left;
}