@import "../../globalColor";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.contactdetail-container {
    width: 200px;
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 768px) {
    
}
