// @import "../../../common/globalColor.scss";

// .mp-initials-icon {
//   position: fixed;
//   background: $myDarkDesignBackground;
//   margin-top: 0.5rem;
//   margin-left: 0.5rem;
//   border: none;
//   cursor: pointer;
//   padding: 0;
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;

//   .mp-initials-icon-img {
//     width: 50px; 
//     height: 50px;
//     border-radius: 50%;
//     object-fit: cover;
//     transition: transform 0.2s ease;

//     &:hover {
//       transform: scale(1.1);
//     }

//     &:active {
//       transform: scale(0.95);
//     }
//   }
// }

@import "../../../common/globalColor.scss";

.mp-initials-icon {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  background: $myDarkDesignBackground;
  border: none;
  cursor: pointer;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease, transform 0.3s ease;

  .mp-initials-icon-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &.hide {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none; // prevent accidental clicks when hidden
  }

  &.show {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
}
