@import "../../common/globalColor.scss";

.welcomesection {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to right, $myLightBlue, black);
  font-family: $fontHomePage;
}

.welcomedownarrow{
  color: $textColorLight;
  position: absolute;
  bottom: 10%;
}

.welcomedownarrow a{
  color: $textColorLight;
}

.welcomename {
  font-size: 70px !important;
  font-style: italic !important;
  font-weight: bold;
  letter-spacing: 10px;
}

.welcomedesc {
  font-size: $smallFontSize;
  font-style: italic !important;
  font-weight: bold;
  line-height: 2;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .welcomesection {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: $fontHomePage;
  }
  
  .welcomename {
    font-size: $normalFontSize;
    font-style: italic !important;
    font-weight: bold;
    letter-spacing: 10px;
  }

  .welcomedownarrow{
    pointer-events: all;
  }
}