@import "../../common/globalColor.scss";

.downloadresumecontainer {
    display:flex;
    border-width: 5px;
    border-color: $myLightBlue;
}

.downloadresumecontainer a{
    color: $textColorLight;
    font-size: $xsmallFontSize;
    font-weight: bold;
}