@import "../../globalColor";

.Welcome-section {
  flex-grow: 1;
  width: 100%;
  height:100vh;
  text-align: left;
  background-color: $darkBackground;
  background-image: url("../../images/home/home-bg3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $textColorDark;
  align-self: right;
}

.Typewriter__wrapper {
  font-size: 2.2em !important;
  font-weight: 600 !important;
}

.Typewriter__cursor {
  font-size: 2.4em !important;
}  
.Welcome-wave {
  animation-name: wave-animation; 
  animation-duration: 2.1s; 
  animation-iteration-count: infinite; 
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } 
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.welcomesection {
  flex-grow: 1;
  width: 100%;
  height: 100vh;
  color: $textColorDark;
  background-image: url("../../images/home/home-bg2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  text-align: left;
  word-wrap: break-word;
};
.welcometext {
  font-size: $headingFontSize;
  font-style: italic !important;
  font-weight: bold;
};
.welcome {
  position: relative;
  left: 50%;
}
.welcomename {
  position: relative;
  left: 40%;
}
.welcomedesc {
  position: relative;
  left: 29%;
};
.welcometype {
  position: relative;
  left: 50%;
}
@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em !important;
    font-weight: 500 !important;
    // position: absolute !important;
  }
  .Typewriter__cursor {
    display: none !important;
  }
  .welcome {
    font-size: 1.0em !important;
    font-style: italic !important;
    font-weight: bold;
  }
  .welcomename {
    font-size: 1.0em !important;
    font-style: italic !important;
    font-weight: bold;
  }
  .welcomedesc {
    font-size: 0.8em !important;
  }
}