@import "../../../../common/globalColor.scss";

.utilbutton {
  font-size: $smallFontSize;
  padding: 0.4rem 1rem;
  background: $myGradient;
  color: $textColorLight;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.utilbutton:hover {
  color: darken($myOrange, 10%);
}

.utilinput::-webkit-outer-spin-button,
.utilinput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.utilinput[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.utilinput {
  flex: 1;
  border-radius: 5px;
  font-size: $xsmallFontSize;
  font-weight: bold;
  background: $myLightBackground;
  width: auto;
}
