@import "../../../../common/globalColor.scss";

.utilbutton {
  font-size: $smallFontSize;
  padding: 0.4rem 1rem;
  background: $myGradient;
  color: $textColorLight;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.utilbutton:hover {
  color: darken($myOrange, 10%);
}

.utilnputfield-input::-webkit-outer-spin-button,
.utilnputfield-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.utilnputfield-input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

.utilinputfield {
  display: flex;
  border-radius: 5px;
  font-size: $xsmallFontSize;
  font-weight: bold;
  color: $textColorLight;
}

.utilinputfield-label {
  margin-bottom: 0.5rem;
}

.utilnputfield-label-required {
  color: red;
  margin-left: 4px;
}

.utilinputfield-input {
  padding: 8px 12px;
  border: 1px solid myLightBackground;
  border-radius: 6px;
  background: $myLightBackground;
}

.utilselectfield {
  display: flex;
  border-radius: 5px;
  font-size: $xsmallFontSize;
  font-weight: bold;
  color: $textColorLight;
}

.utilselectfield-label {
  margin-bottom: 0.4rem;
}

.utilselectfield-required {
  color: red;
  margin-left: 4px;
}

.utilselectfield-select {
  transition: border-color 0.2s ease;
  border-radius: 6px;
  border: 1px solid $myLightBackground;
  background: $myLightBackground;
  padding: 0.25rem 0.5rem;
  width: auto;
  min-width: 80px;
  max-width: 140px;
}
