@import "../../common/globalColor.scss";

.navbar{
    position: fixed;
    height: 5vh;
    width: 100%;
    background-image: $myGradient;
    z-index: 1;
    display: flex;
    flex-direction: row;
}
.nav-list{
    display: flex;
    list-style: none;
    width: 70%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.nav-list-item-container {
    display: flex;
    position: relative;
    right: -25%;
}
.nav-list-item{
    padding: 15px;
}
.nav-list-item a{
    text-decoration: none;
    color: $textColorLight;
    font-size: $xsmallFontSize;
    font-weight: bold;
}
.nav-list-item a:hover{
    color: $myOrange;
}
.navbar .headercontactdetails{
    width: 0;
    height: 0;
    opacity: 0;
}
@media screen and (max-width: 768px) {
    .line {
      width: 25px;
      height: 3px;
      background: $textColorLight;
      margin: 5px;
    }
    .hamburger {
      position: absolute;
      cursor: pointer;
      right: 1%;
      top: 50%;
      transform: translate(-1%, -50%);
      transition: all 0.5s ease-out;
      z-index: 2;
    }
    .hamburger.open{
        transform: rotate(90deg);
        transition: all 0.5s ease-in;
    }
    .navbar {
        cursor: pointer;
    }
    .nav-list{
        background-image: $myGradient;
        display: flex;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        pointer-events: all;
        opacity: 0;
    }
    .nav-list.open{
        opacity: 1;
        transition: all 0.5s ease-in;
    }
    .nav-list-item-container {
        display: flex;
        flex-direction: column;
        align-items: left;
        position: relative;
        left: -7%;
    }
    .nav-list-item{
        padding: 20px;
    }
    .nav-list-item a:hover{
        color: $myOrange;
    }
    .navbar .headercontactdetails {
        width: auto;
        opacity: 1;
    }
  }