.App-header {
    background-color: #545658;
    min-height: 9vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: white;
    font-style: italic;
  }