@import "../../../common/globalColor.scss";

.utilitiessection {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  border-bottom: solid 3px $myBlueDark;
  width: 100%;
  padding: 50px 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .utilitiessection {
    padding: 30px 15px;
  }
}
