@import "../../../common/globalColor.scss";

.utilbutton {
  font-size: $smallFontSize;
  padding: 0.4rem 1rem;
  background: $myGradient;
  color: $textColorLight;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.utilbutton:hover {
  color: darken($myOrange, 10%);
}
