//my blue color
$myBlueDark: rgb(31, 64, 95);
$myBlue: #0671af;
$mylightBlue: #338fcc;
$darkBackground: #000000;
$textColorLight: whitesmoke;
$textColorDark: #000000;
$myOrange: #dd7a08;
$myGray: rgb(56, 55, 55);
$myLightGray: #464e53;
//Text
$headingFontSize: 40px !important;
$normalFontSize: 35px !important;
$mediumFontSize: 30px !important;
$smallFontSize: 20px !important;
$xsmallFontSize: 1.0em !important;
