@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');

body {
  /* font-family: "Oswald" !important; */
  font-family: 'STIX Two Math', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
