//my blue color
$myDarkBackground: #000000;
$myLightBackground: rgb(211, 211, 209);
$textColorLight: whitesmoke;
$textColorDark: #181818;
$myOrange: #d19653;
$myCardBackground: #161b22;
$myBackground: #0d1117;
$myHighlightColor: #00bcd4;
$myHighlightColorDark: #0097a7;
//Text
$headingFontSize: 50px !important;
$normalFontSize: 35px !important;
$mediumFontSize: 30px !important;
$smallFontSize: 25px !important;
$xsmallFontSize: 20px !important;
$xxsmallFontSize: 15px !important;
$xxxsmallFontSize: 10px !important;
$fontHomePage: cursive;