//my blue color
$myBlueDark: rgb(31, 64, 95);
$myBlue: #0671af;
$myBlueGray: #b6bec4;
$myLightBlue: #519ae3;
$myDarkBackground: #000000;
$myLightBackground: rgb(211, 211, 209);
$textColorLight: whitesmoke;
$textColorDark: #181818;
$myOrange: #d19653;
$myGray: rgb(55, 55, 55);
$myLightGray: #5f6467;
$myGradient: linear-gradient(to right, $myBlue, rgb(89, 143, 89));
$myBlueTransparent: rgb(134, 163, 190);
//Text
$headingFontSize: 50px !important;
$normalFontSize: 35px !important;
$mediumFontSize: 30px !important;
$smallFontSize: 25px !important;
$xsmallFontSize: 20px !important;
$xxsmallFontSize: 15px !important;
$xxxsmallFontSize: 10px !important;
$fontHomePage: cursive;