@import "../../common/globalColor.scss";

.utilscardcontainer {
    background-color: $myBlueDark;
    width: 25%;
    height: 70%;
    border-radius: 40px;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.utilscardheading {
    width: 90%;
    align-self: center;
}

.utilscardheading p {
    font-size: $smallFontSize;
    font-weight: bold;
}

.utilscarddesc {
    width: 90%;
    align-self: center;
}

.utilscarddesc p {
    font-size: $xsmallFontSize;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .utilscardcontainer {
        width: 70%;
        margin: 10px;
    }

    .utilscardheading {
        margin: 10px;
    }
}