@import "../../../common/globalColor.scss";

.passwordgenerator {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 600px;
}

.passwordgeneratorcontrols {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 100%;
}

.passwordgeneratoroutput {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  width: 100%;
  border-radius: 6px;
}

.passworddisplay {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.expirynote {
  font-size: $xxsmallFontSize;
}

